<!-- syntax 구문으로 ViewData의 title을 HOME으로 정의한다. -->
@{
    ViewData["Title"] = "HOME";
}

<div class="text-center">
    <br />
    <h1 class="display-4">ASP.NET BOARD</h1><br />
    <p>이 웹사이트는 ASP.NET Core을 사용해 만든 별거없는 게시판입니다.</p>
    <img src="https://www.igexsolutions.com/wp-content/uploads/2021/02/ASP.NET_.svg" alt="ASP.NET MVC" width="500px"/>
</div>
