<!-- 회원가입을 위해서 Model을 가져와야하는데, 회원가입 모델이 정의되어있는
이 프로젝트의 Models 폴더의 User을 불러오겠다 -->
@model MagicBoard.Models.User

<h2>회원가입</h2>

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <br>
    <div class="form-group">
        <label>사용자 ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="사용자 ID 입력" />
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>
    <br>
    <div class="form-group">
        <label>사용자 비밀번호</label>
        <input type="password" class="form-control" asp-for="UserPassword" placeholder="사용자 비밀번호 입력" />
        <span class="text-danger" asp-validation-for="UserPassword"></span>
    </div>
    <br>
    <div class="form-group">
        <label>사용자 이름</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="사용자 이름 입력" />
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">회원가입</button>
        <a class="btn btn-warning" href="#">취소</a>
    </div>
</form>
